{% extends "base.html" %}

{% block head %} 
{% include "/bootstrap-css.html" %}

<!-- Stylesheet -->
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color: darkgreen; padding: 20px;">{{ title }}</h1>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Linear Study</th>
                <th scope="col">Status</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>LE190203</td>
                <td>Perfect</td>
                <td>This is part of the description</td>
            </tr>
        </tbody>
    </table>
</div>

{% include "/bootstrap-js.html" %}
{% endblock %}