{% extends "base.html" %}
{% block head %}
<script >
{% endblock %}

{% body %}
<div>
    <div>
        <h1>{{ title }}</h1>
    </div>
    <div>
        <div>
            <div>
                <p>LE190203</p>
            </div>
            <div>
                <p>Change Request</p>
            </div>
            <div>
                <p>Clayton Herbst</p>
            </div>
            <div>
                <p>In-progress</p>
            </div>
            <div>
                <p>DONE</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
