{% extends "base.html" %}

{% block head %}
{% include "/bootstrap-css.html" %}


<!-- Stylesheet -->
{% endblock %}


{% block body %}
<div class="container">
    <h1 class="text-center" style="padding: 20px; color: darkgreen;">{{ title }}</h1>
</div>
<div class="container" style="margin-bottom: 100px">
    <div class="list-group">
        <a href="#" class="list-group-item d-flex text-decoration-none">
            <div class="col text-center">
                <p>LE190203</p>
            </div>
            <div class="col text-center">
                <p>Change Request</p>
            </div>
            <div class="col text-center">
                <p>Clayton Herbst</p>
            </div>
            <div class="col text-center">
                <p class="align-middle">In-progress</p>
            </div>
            <div class="col text-center">
                <button class="btn btn-outline-success">DONE</button>
            </div>
        </a>
        <a href="#" class="list-group-item d-flex text-decoration-none">
            <div class="col text-center">
                <p>LE190203</p>
            </div>
            <div class="col text-center">
                <p>Change Request</p>
            </div>
            <div class="col text-center">
                <p>Clayton Herbst</p>
            </div>
            <div class="col text-center">
                <p class="align-middle">In-progress</p>
            </div>
            <div class="col text-center">
                <button class="btn btn-outline-success">DONE</button>
            </div>
        </a>
    </div>
</div>
<div class="container">
    <div class="container">
        <h4 class="text-center" style="padding: 20px; color: hotpink">Statistics</h4>
    </div>
    <div class="list-group w-75" style="margin:auto">
        <div class="list-group-item d-flex" style="justify-content: space-between;">
            <p>Total Tasks</p>
            <p>4</p>
        </div>
        <div class="list-group-item d-flex" style="justify-content: space-between;">
            <p>Outstanding Tasks</p>
            <p>2</p>
        </div>
    </div>
</div>

{% include "/bootstrap-js.html" %}
{% endblock %}
